#image-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(26,26,26,.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

#image-modal .close {
    font-size: 30px;
    position: absolute;
    right: 50px;
    top: 30px;
    color: #3face4;
    cursor: pointer;
}

#image-modal img {
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#news-success-alert, #news-danger-alert, #editing-form{
    display: none;
}

.loader-image-container {
    display: flex;
    justify-content: center;
}

.loader-image-container img {
    width: 80px;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list li {
    display: inline-block;
}

.list li span, #tags-cont span {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 13px;
    margin-bottom: 8px;
    transition: all 0.3s ease 0s;
    color: #000000;
    font-size: 13px;
}

.active-tag {
    background-color: #007bff !important;
    color: #fff !important
}

#news_deleted_message {
    display: none;
}